
	<div class="container">
		<%= form_tag(uoa_index_path, method: :get) do %>
			<div class="form-row">
				<div class="col">
					<%= label_tag(:date_range, nil) %>
				</div>
				<div class="col">
					<%= text_field_tag("search[date]", params[:search].present? ? params[:search][:date] : nil, class: 'form-control datepicker', placeholder: 'Search Date') %>
				</div>
				<div class="col">
					<%= label_tag(:ticker, nil) %>
				</div>
				<div class="col">
					<p>Search ticker</p>
				</div>
				
			</div>
			
			<div class="form-row">
				<%= submit_tag('search', name: nil, class: 'btn btn-success') %>
				<%= link_to("Reset Search", uoa_index_path, class: 'btn btn-danger') %>
				<%= link_to("Download CSV", uoa_index_path(request.params.merge(format: :csv), class: 'btn btn-info')) %>
			</div>
			
		<% end %>

	</div>

