
<%= form_tag(uoa_index_path, method: :get) do %>
	<%= label_tag(:search_date) %>
	<%= text_field_tag(:date,  nil, class: 'datepicker', placeholder: 'Search Date') %>
	<%= submit_tag('search') %>
<% end %>
<%= link_to("Reset Search", uoa_index_path) %>


<h3>UOA Table</h3>
<p><%= link_to("Download CSV", uoa_index_path(request.params.merge(format: :csv))) %></p>


<table>
	<thead>
		<th>#</th>
		<th>Symbol</th>
		<th>Price</th>
		<th>Type</th>
		<th>Strike</th>
		<th>Expiration Date</th>
		<th>DTE</th>
		<th>Last</th>
		<th>Volume</th>
		<th>Open Interest</th>
		<th>I.V.</th>
		<th>Last Traded</th>
	</thead>
	<tbody>
		<% @collection.each_with_index do |o, i| %>
			<tr>
				<td><%= i+1 			%></td>
				<td><%= o['Symbol']		%></td>
				<td><%= o['Price'] 		%></td>
				<td><%= o['Type'] 		%></td>
				<td><%= o['Strike']		%></td>
				<td><%= o['Exp Date'] 	%></td>
				<td><%= o['DTE']		%></td>
				<td><%= o['Last']		%></td>
				<td><%= o['Volume']		%></td>
				<td><%= o['Open Int']	%></td>
				<td><%= o['IV']			%></td>
				<td><%= o['Last Trade'] %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript">
	$(function() {
    $(".datepicker" ).datepicker();
  } );
</script>
