<div class="container">
	<%= render 'search' %>

	<h2>Unusual Options Activity</h2>
	<table class="table table-hover">
		<thead>
			<th scope="col">#</th>
			<th scope="col">Symbol</th>
			<th scope="col">Price</th>
			<th scope="col">Type</th>
			<th scope="col">Strike</th>
			<th scope="col">Expiration Date</th>
			<th scope="col">DTE</th>
			<th scope="col">Last</th>
			<th scope="col">Volume</th>
			<th scope="col">Open Interest</th>
			<th scope="col">I.V.</th>
			<th scope="col">Last Traded</th>
		</thead>
		<tbody>
			<% @collection.each_with_index do |o, i| %>
				<tr>
					<td scope="row"><%= i+1 			%></td>
					<td scope="row"><%= o['Symbol']		%></td>
					<td scope="row"><%= o['Price'] 		%></td>
					<td scope="row"><%= o['Type'] 		%></td>
					<td scope="row"><%= o['Strike']		%></td>
					<td scope="row"><%= o['Exp Date'] 	%></td>
					<td scope="row"><%= o['DTE']		%></td>
					<td scope="row"><%= o['Last']		%></td>
					<td scope="row"><%= o['Volume']		%></td>
					<td scope="row"><%= o['Open Int']	%></td>
					<td scope="row"><%= o['IV']			%></td>
					<td scope="row"><%= o['Last Trade'] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

