<div class="container-fluid">
	<h2>Unusual Options Activity</h2>
	
	<%= render 'search' %>
	
	<br>
	<br>
	<p>Total Records: <%= @collection.size %></p>
	<table id="table" data-toggle="table" data-sticky-header="true" class="table table-hover">
		<thead class="thead-dark sticky-header">
			<th scope="col">#</th>
			<th scope="col">Symbol</th>
			<th scope="col">Price</th>
			<th scope="col">Type</th>
			<th scope="col">Strike</th>
			<th scope="col">Expiration Date</th>
			<th scope="col">DTE</th>
			<th scope="col">Last</th>
			<th scope="col">Volume</th>
			<th scope="col">Open Interest</th>
			<th scope="col">I.V.</th>
			<th scope="col">Date created</th>
			<th scope="col">Traded Time</th>
		</thead>
		<tbody>
			<% @collection.each_with_index do |o, i| %>
				<tr>
					<td scope="row"><%= i+1 			%></td>
					<td scope="row"><%= o['Symbol']		%></td>
					<td scope="row"><%= o['Price'] 		%></td>
					<td scope="row"><%= o['Type'] 		%></td>
					<td scope="row"><%= o['Strike']		%></td>
					<td scope="row"><%= o['Exp Date'].strftime("%m/%d/%Y") 	%></td>
					<td scope="row"><%= o['DTE']		%></td>
					<td scope="row"><%= o['Last']		%></td>
					<td scope="row"><%= o['Volume']		%></td>
					<td scope="row"><%= o['Open Int']	%></td>
					<td scope="row"><%= o['IV']			%></td>
					<td scope="row">
						<%= o['created_at'].strftime("%m/%d/%Y") %>
					</td>
					<td scope="row"><%= o['Last Trade'] %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>


